/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document ========================================================================== */
/** * 1. Correct the line height in all browsers. * 2. Prevent adjustments of font size after orientation changes in iOS. */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections ========================================================================== */
/** * Remove the margin in all browsers. */
body {
  margin: 0; }

/** * Render the `main` element consistently in IE. */
main {
  display: block; }

/** * Correct the font size and margin on `h1` elements within `section` and * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content ========================================================================== */
/** * 1. Add the correct box sizing in Firefox. * 2. Show the overflow in Edge and IE. */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics ========================================================================== */
/** * Remove the gray background on active links in IE 10. */
a {
  background-color: transparent; }

/** * 1. Remove the bottom border in Chrome 57- * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/** * Add the correct font weight in Chrome, Edge, and Safari. */
b, strong {
  font-weight: bolder; }

/** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/** * Add the correct font size in all browsers. */
small {
  font-size: 80%; }

/** * Prevent `sub` and `sup` elements from affecting the line height in * all browsers. */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content ========================================================================== */
/** * Remove the border on images inside links in IE 10. */
img {
  border-style: none; }

/* Forms ========================================================================== */
/** * 1. Change the font styles in all browsers. * 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/** * Show the overflow in IE. * 1. Show the overflow in Edge. */
button, input {
  /* 1 */
  overflow: visible; }

/** * Remove the inheritance of text transform in Edge, Firefox, and IE. * 1. Remove the inheritance of text transform in Firefox. */
button, select {
  /* 1 */
  text-transform: none; }

/** * Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

/** * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/** * Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/** * Correct the padding in Firefox. */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/** * 1. Correct the text wrapping in Edge and IE. * 2. Correct the color inheritance from `fieldset` elements in IE. * 3. Remove the padding so developers are not caught out when they zero out * `fieldset` elements in all browsers. */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/** * Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline; }

/** * Remove the default vertical scrollbar in IE 10+. */
textarea {
  overflow: auto; }

/** * 1. Add the correct box sizing in IE 10. * 2. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/** * Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/** * 1. Correct the odd appearance in Chrome and Safari. * 2. Correct the outline style in Safari. */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/** * Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/** * 1. Correct the inability to style clickable types in iOS and Safari. * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive ========================================================================== */
/* * Add the correct display in Edge, IE 10+, and Firefox. */
details {
  display: block; }

/* * Add the correct display in all browsers. */
summary {
  display: list-item; }

/* Misc ========================================================================== */
/** * Add the correct display in IE 10+. */
template {
  display: none; }

/** * Add the correct display in IE 10. */
[hidden] {
  display: none; }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("fonts/ubuntu-v15-latin_cyrillic-300.woff2") format("woff2"), url("fonts/ubuntu-v15-latin_cyrillic-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("fonts/ubuntu-v15-latin_cyrillic-regular.woff2") format("woff2"), url("fonts/ubuntu-v15-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("fonts/ubuntu-v15-latin_cyrillic-500.woff2") format("woff2"), url("fonts/ubuntu-v15-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("fonts/ubuntu-v15-latin_cyrillic-700.woff2") format("woff2"), url("fonts/ubuntu-v15-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

.heading__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px; }

.heading__emblem {
  width: 160px;
  -webkit-box-flex: 160px;
      -ms-flex: 160px 0 0px;
          flex: 160px 0 0;
  margin-left: 20px; }

.heading__nav {
  margin-right: 20px; }

.heading__contacts {
  margin-top: 15px;
  -webkit-box-flex: 100%;
      -ms-flex: 100% 1 0px;
          flex: 100% 1 0;
  padding: 10px 0;
  text-align: center;
  background-color: #EF5858; }

.heading__phone {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in; }
  .heading__phone-icon {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    vertical-align: middle; }
  .heading__phone:hover {
    color: #EF5858; }

.heading__time {
  display: none;
  font-weight: 300;
  font-size: 12px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000; }

.heading__bottom {
  display: none; }
  .heading__bottom--page {
    margin-bottom: 80px; }

.heading__icons-info {
  display: none; }

@media (min-width: 768px) {
  .heading {
    padding: 20px;
    border-bottom: 2px solid #F2F5F8; }
    .heading__top {
      padding: 0 0 10px; }
    .heading__emblem {
      margin-left: 0; }
    .heading__contacts {
      margin-top: 0;
      padding: 0;
      -webkit-box-flex: 1;
          -ms-flex: auto 0 0px;
              flex: auto 0 0;
      background-color: transparent; }
    .heading__phone {
      color: #000; }
      .heading__phone-icon {
        display: none; }
    .heading__time {
      display: block; }
    .heading__bottom {
      position: relative;
      display: block; }
    .heading__icons-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .heading__emblem {
      width: 200px; } }

@media (min-width: 1024px) {
  .heading {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0 30px; }
    .heading__top {
      padding-bottom: 20px; }
    .heading__icons-info {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
    .heading__emblem {
      width: 280px; } }

@media (min-width: 1200px) {
  .heading {
    width: 1090px; } }

.main-navm {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .main-navm__link {
    color: #000;
    font-size: 14px;
    line-height: 162.4%;
    color: #000000;
    text-decoration: none;
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }
    .main-navm__link:hover {
      color: #EF5858; }
    .main-navm__link--active {
      font-weight: 700; }
  .main-navm__mobile-btn {
    display: inline-block;
    margin-right: 20px; }
  .main-navm__list {
    margin: 0;
    padding: 0;
    list-style: none; }

@media (max-width: 768px) {
  .main-navm {
    position: absolute;
    top: 106px;
    left: -100%;
    width: 100%;
    background-color: #fff;
    min-height: calc(100vh - 106px);
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }
    .main-navm--open {
      left: 0; }
    .main-navm__list {
      margin: 0;
      padding: 20px; }
    .main-navm__item {
      display: block;
      text-align: center; }
      .main-navm__item + .main-navm__item {
        margin-top: 10px; } }

@media (min-width: 768px) {
  .main-navm {
    margin: 0; }
    .main-navm__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .main-navm__item + .main-navm__item {
      margin-left: 20px; } }

@media (min-width: 1024px) {
  .main-navm__item + .main-navm__item {
    margin-left: 30px; } }

@media (min-width: 1200px) {
  .main-navm__item + .main-navm__item {
    margin-left: 45px; } }

.mobile-btnm {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer; }
  .mobile-btnm__icon {
    width: 20px; }
  .mobile-btnm__line {
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }
  .mobile-btnm--open .mobile-btnm__line--1 {
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: translate(5px, 0px) rotate(45deg);
        -ms-transform: translate(5px, 0px) rotate(45deg);
            transform: translate(5px, 0px) rotate(45deg); }
  .mobile-btnm--open .mobile-btnm__line--2 {
    opacity: 0; }
  .mobile-btnm--open .mobile-btnm__line--3 {
    -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: translate(5px, -3px) rotate(-45deg);
        -ms-transform: translate(5px, -3px) rotate(-45deg);
            transform: translate(5px, -3px) rotate(-45deg); }

@media (min-width: 768px) {
  .mobile-btnm {
    display: none; } }

.mnav-service {
  position: relative; }
  .mnav-service__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 0;
    padding: 0;
    list-style: none; }
  .mnav-service__item {
    -webkit-box-flex: 25%;
        -ms-flex: 25% 1 0px;
            flex: 25% 1 0; }
    .mnav-service__item:hover .mnav-service__mlist-servs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .mnav-service__item + .mnav-service__item .mnav-service__link::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -0.5px;
      width: 1px;
      height: 30px;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      background-color: rgba(255, 255, 255, 0.5); }
    .mnav-service__item--active .mnav-service__link {
      background-color: #D33F3F; }
      .mnav-service__item--active .mnav-service__link::after {
        opacity: 1; }
    .mnav-service__item--active .mnav-service__mlist-servs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      z-index: 5; }
  .mnav-service__link {
    position: relative;
    display: block;
    padding: 10px 0;
    font-weight: 500;
    font-size: 10px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    background-color: #EF5858;
    text-decoration: none;
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }
    .mnav-service__link::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 50%;
      z-index: 15;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 10px solid #D33F3F;
      border-radius: 1px;
      opacity: 0;
      -webkit-transition: 0.3s all ease-in;
      -o-transition: 0.3s all ease-in;
      transition: 0.3s all ease-in; }
    .mnav-service__link:hover, .mnav-service__link:focus {
      background-color: #D33F3F; }
      .mnav-service__link:hover::after, .mnav-service__link:focus::after {
        opacity: 1; }
    .mnav-service__link:focus + .mnav-service__mlist-servs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .mnav-service__mlist-servs {
    display: none; }
    .mnav-service__mlist-servs.show {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

@media (min-width: 1024px) {
  .mnav-service__link {
    font-size: 12px; } }

.mlist-servs {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  padding-left: 10px;
  padding-right: 50px;
  list-style: none;
  background-color: #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .mlist-servs.open-sub .mlist-servs__item {
    display: block;
    margin-bottom: 10px; }
  .mlist-servs.open-sub .mlist-servs__btn-more {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .mlist-servs__item {
    padding: 15px 0;
    -webkit-box-flex: 20%;
        -ms-flex: 20% 0 0px;
            flex: 20% 0 0;
    text-align: center;
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }
    .mlist-servs__item:hover {
      background-color: #E0E0E0; }
    .mlist-servs__item:nth-child(n+6) {
      display: none; }
    .mlist-servs__item--active .mlist-servs__link {
      font-weight: 700; }
  .mlist-servs__link {
    font-size: 10px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }
    .mlist-servs__link:hover {
      color: #EF5858; }
  .mlist-servs__btn-more {
    position: absolute;
    top: 12px;
    right: 10px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    line-height: 0;
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }
  .mlist-servs__btn-arrow {
    width: 30px;
    height: 30px;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }

@media (min-width: 1024px) {
  .mlist-servs__link {
    font-size: 12px; } }

@media (min-width: 1200px) {
  .mlist-servs {
    padding-left: 80px;
    padding-right: 110px; }
    .mlist-servs__btn-more {
      right: 40px; }
    .mlist-servs__link {
      line-height: 26px; } }

.bottom {
  margin-top: 10px;
  padding: 30px 0 40px;
  background-color: #151414; }
  .bottom__contacts {
    padding: 0 20px; }
  .bottom-phone {
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 218.4%;
    text-transform: uppercase;
    text-decoration: none;
    color: #D61010;
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }
    .bottom-phone:hover {
      color: #EF5858; }
  .bottom__work-time {
    margin: 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 218.4%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.79); }
  .bottom__copy {
    margin: 30px 0 0;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 180.4%;
    color: rgba(255, 255, 255, 0.74); }

@media (min-width: 768px) {
  .bottom {
    margin-top: 60px;
    padding: 20px; }
    .bottom__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .bottom__nav {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
    .bottom__contacts {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      margin-top: 30px;
      padding: 0; }
    .bottom__copy {
      padding: 0; } }

@media (min-width: 1024px) {
  .bottom {
    padding: 30px calc((100% - 960px) / 2);
    margin: 100px auto 0; }
    .bottom__content {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start; }
    .bottom__nav {
      -ms-flex-preferred-size: 33%;
          flex-basis: 33%; }
    .bottom__contacts {
      -ms-flex-preferred-size: 33%;
          flex-basis: 33%;
      margin: 0;
      text-align: end; }
    .bottom-phone {
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 1; } }

@media (min-width: 1200px) {
  .bottom {
    padding-left: calc((100% - 1090px) / 2);
    padding-right: calc((100% - 1090px) / 2); } }

.bottom-services__list {
  margin: 0;
  padding: 0 20px 20px;
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.37); }

.bottom-services__link {
  font-size: 12px;
  line-height: 218.4%;
  color: rgba(255, 255, 255, 0.74);
  text-decoration: none;
  -webkit-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in; }
  .bottom-services__link:hover {
    color: #EF5858; }

@media (min-width: 768px) {
  .bottom-services__list {
    padding: 0;
    border: none; }
  .bottom-services__link {
    font-size: 13px; } }

@media (min-width: 768px) {
  .bottom-services_link {
    font-size: 14px; } }

.bottom-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 15px 20px 10px;
  list-style: none; }

.bottom-nav__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: 10px; }

.bottom-nav__link {
  font-size: 12px;
  line-height: 162.4%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.74);
  text-decoration: none;
  -webkit-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in; }
  .bottom-nav__link:hover {
    color: #EF5858; }

@media (min-width: 768px) {
  .bottom-nav__list {
    padding: 0; }
  .bottom-nav__item {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%; } }

@media (min-width: 1024px) {
  .bottom-nav__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; } }

.icons-info {
  padding: 0 20px; }

@media (min-width: 768px) {
  .icons-info {
    margin-top: 15px; }
    .icons-info__one {
      -ms-flex-preferred-size: 45%;
          flex-basis: 45%;
      margin-bottom: 15px; } }

@media (min-width: 1024px) {
  .icons-info {
    width: 960px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0; }
    .icons-info__one {
      margin-bottom: 0; } }

@media (min-width: 1200px) {
  .icons-info {
    width: 1090px;
    margin-top: 25px; } }

.one-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .one-info__icon {
    width: 60px;
    height: 40px;
    margin-right: 10px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    .one-info__icon img {
      height: inherit;
      -o-object-fit: contain;
         object-fit: contain; }
  .one-info__title {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 121.4%; }
  .one-info__descr {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 121.4%; }

@media (min-width: 1024px) {
  .one-info {
    -ms-flex-preferred-size: auto;
        flex-basis: auto; }
    .one-info__icon {
      width: 70px;
      margin-right: 15px; }
    .one-info__title, .one-info__descr {
      font-size: 14px; } }

@media (min-width: 1200px) {
  .one-info__title, .one-info__descr {
    font-size: 16px; } }

.maside {
  display: none;
  background-color: #fff;
  -webkit-box-shadow: -20px 0 25px rgba(226, 228, 236, 0.25);
          box-shadow: -20px 0 25px rgba(226, 228, 236, 0.25); }
  .maside__pic {
    display: block;
    width: 100%; }

@media (min-width: 1024px) {
  .maside {
    display: block;
    max-width: 305px;
    -ms-flex-negative: 0;
        flex-shrink: 0; } }

.mpluses {
  padding: 45px 20px 0;
  margin-bottom: 100px; }
  .mpluses__title {
    margin: 0 0 20px;
    padding: 15px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    color: #000;
    background-image: url("../images/pluses-bg.png");
    background-size: auto 100%;
    background-position: right center;
    background-repeat: no-repeat; }
  .mpluses__one + .mpluses__one {
    margin-top: 30px; }

@media (min-width: 520px) {
  .mpluses--proj {
    display: none; } }

.msale {
  margin: 0 20px;
  padding: 40px 15px 50px;
  background-color: #f7f7f7; }
  .msale--callback {
    margin: 40px 0 30px;
    padding: 40px 10px; }
  .msale--reviews {
    padding: 20px;
    margin: 20px 0 0; }
  .msale__info {
    margin: 20px 0 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%; }
    .msale__info--callback {
      text-align: center;
      margin-bottom: 30px; }
  .msale__title {
    margin: 0 0 25px;
    font-weight: bold;
    font-size: 24px;
    line-height: 106.4%;
    color: #000000; }
    .msale__title--red {
      display: inline-block;
      padding: 5px;
      background-color: #EF5858;
      color: #fff; }
    .msale__title--online {
      display: block;
      font-weight: 300; }

@media (min-width: 768px) {
  .msale--callback {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 1024px) {
  .msale--callback {
    background-color: #fff; }
  .msale--reviews {
    margin: 40px 0 0;
    padding: 0px; } }

.msale-form__label {
  display: block;
  margin-bottom: 10px;
  padding: 10px 0px;
  width: 100%;
  text-align: start;
  font-weight: 300;
  font-size: 18px;
  line-height: 106%;
  color: #000; }

.msale-form__input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 106%;
  color: #000;
  background-color: transparent;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.msale-form__submit {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 106%;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
  cursor: pointer; }
  .msale-form__submit--red {
    border: 4px solid #EF5858;
    background-color: #fff; }
    .msale-form__submit--red:hover {
      background-color: #EF5858;
      color: #fff; }
  .msale-form__submit--black {
    border: 4px solid #000;
    background-color: #000;
    color: #fff; }
    .msale-form__submit--black:hover {
      color: #000;
      background-color: #fff; }
  .msale-form__submit--yellow {
    border: 4px solid #fbdb40;
    background-color: #fbdb40; }
    .msale-form__submit--yellow:hover {
      background-color: #fff; }
  .msale-form__submit--show {
    display: none; }

@media (max-width: 768px) {
  .msale-form:not(.msale-form--show) *:not(.show-form) {
    display: none; }
  .msale-form--show > *:not(.show-form) {
    display: block; }
  .msale-form--show .show-form {
    display: none; }
  .msale-form__submit--show {
    display: block; } }

@media (min-width: 1024px) {
  .msale-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 40px;
    background-color: #f7f7f7; }
    .msale-form--aside {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      padding: 0; }
    .msale-form--reviews {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      gap: 15px; }
    .msale-form:not(.msale-form--reviews):not(.msale-form--aside) * + * {
      margin-left: 15px; }
    .msale-form__label {
      padding: 5px 0;
      margin: 0; }
    .msale-form__input {
      margin-bottom: 0;
      padding: 13px 20px;
      border: none;
      background-color: #fff; }
      .msale-form__input--contacts {
        -ms-flex-preferred-size: 48%;
            flex-basis: 48%; }
    .msale-form__submit {
      padding: 10px 20px;
      margin-top: 0; }
      .msale-form__submit--aside {
        margin-top: 10px; } }

.index-info {
  padding: 45px 20px 20px; }
  .index-info__descr {
    display: none;
    max-width: 670px;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 200%; }

@media (min-width: 1024px) {
  .index-info {
    padding: 75px 0 0; }
    .index-info__descr {
      display: block; } }

.mtitle {
  margin: 0;
  line-height: 106%;
  font-weight: bold;
  font-size: 30px; }

@media (min-width: 1024px) {
  .mtitle {
    font-size: 36px; }
    .mtitle--index {
      margin-bottom: 30px;
      font-size: 48px; } }

.subtitlem {
  margin: 0 0 15px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1; }
  .subtitlem--mcallback {
    text-align: center;
    margin: 0; }
  .subtitlem--formcontacts {
    margin-bottom: 25px;
    text-align: start; }
  .subtitlem--serv-call {
    margin-bottom: 20px;
    text-align: center; }
    .subtitlem--serv-call br {
      display: none; }

@media (min-width: 768px) {
  .subtitlem--serv-call {
    margin-bottom: 30px;
    text-align: start; }
    .subtitlem--serv-call br {
      display: inline; } }

@media (min-width: 1024px) {
  .subtitlem--serv-call {
    margin-bottom: 40px; }
  .subtitlem--projects {
    margin-bottom: 30px; } }

.titlesub {
  margin: 0 0 25px;
  font-weight: bold;
  font-size: 24px;
  line-height: 106.4%;
  color: #000000; }

.mservs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 10px; }
  .mservs-list__one {
    -ms-flex-preferred-size: calc(50% - 5px);
        flex-basis: calc(50% - 5px);
    margin-bottom: 10px;
    border: 5px solid #e4e4e4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .mservs-list--page {
    padding: 0 20px; }

@media (min-width: 768px) {
  .mservs-list {
    padding: 0 20px; }
    .mservs-list--page {
      margin: 20px 0 50px; } }

@media (min-width: 1024px) {
  .mservs-list {
    padding: 0; }
    .mservs-list--page {
      margin: 35px 0 70px; } }

.mserv-one {
  position: relative;
  width: 145px;
  height: 145px;
  padding: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in; }
  .mserv-one:hover {
    -webkit-box-shadow: 0 0 5px #e4e4e4;
            box-shadow: 0 0 5px #e4e4e4; }
  .mserv-one--page {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 115px; }
    .mserv-one--page .mserv-one__preview {
      width: 90px;
      height: 85px; }
  .mserv-one--install {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .mserv-one__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5; }
  .mserv-one__title {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%; }
    .mserv-one__title br {
      display: none; }
  .mserv-one__preview {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 80px;
    line-height: 0; }
    .mserv-one__preview img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain;
      -o-object-position: bottom right;
         object-position: bottom right; }
  .mserv-one__price {
    margin: 10px 0 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 200.4%;
    color: #000000; }

@media (min-width: 480px) {
  .mserv-one--page, .mserv-one--install {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%; } }

@media (min-width: 768px) {
  .mserv-one--page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%; }
  .mserv-one--instll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

@media (min-width: 1024px) {
  .mserv-one {
    padding: 20px;
    height: 190px; }
    .mserv-one__title {
      font-size: 18px; }
      .mserv-one__title br {
        display: inline; }
    .mserv-one__preview {
      width: 120px; }
    .mserv-one--page {
      height: 160px; }
    .mserv-one__price {
      margin: 0;
      font-size: 20px; }
    .mserv-one--install .mserv-one__title {
      font-size: 20px;
      line-height: 144%; } }

@media (min-width: 1200px) {
  .mserv-one {
    padding: 40px 30px; }
    .mserv-one--page {
      padding: 25px 20px; }
    .mserv-one__title {
      max-width: 195px;
      font-size: 20px; }
    .mserv-one__preview {
      width: 130px; } }

.mtab--steps {
  display: none; }

.mtab--quest {
  display: block;
  padding: 0 10px; }

@media (min-width: 768px) {
  .mtab--quest {
    padding: 0px 20px; } }

@media (min-width: 1024px) {
  .mtab--quest {
    display: none;
    padding: 0px; } }

.mtabs {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px; }
  .mtabs__btns {
    display: none;
    margin-bottom: 40px; }
  .mtabs__btn {
    display: inline-block;
    border: none;
    background-color: transparent;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    border-bottom: 3px dashed transparent;
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }
    .mtabs__btn--active {
      font-weight: bold;
      border-bottom-color: #000; }
    .mtabs__btn:hover {
      border-bottom-color: #000; }
    .mtabs__btn + .mtabs__btn {
      margin-left: 30px; }

@media (min-width: 768px) {
  .mtabs {
    margin-top: 40px; }
    .mtabs__btn + .mtabs__btn {
      margin-left: 40px; } }

@media (min-width: 1024px) {
  .mtabs {
    display: block;
    margin-top: 60px; }
    .mtabs__btns {
      display: block; }
    .mtabs__one {
      display: none; }
      .mtabs__one--active {
        display: block; } }

@media (min-width: 1200px) {
  .mtabs {
    margin-top: 80px; }
    .mtabs__btn + .mtabs__btn {
      margin-left: 60px; } }

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .steps__one {
    -webkit-box-flex: 33%;
        -ms-flex: 33% 1 0px;
            flex: 33% 1 0; }

.one-step {
  padding: 40px 25px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .one-step--1 {
    background-image: url("../images/step1.jpg"); }
  .one-step--2 {
    background-image: url("../images/step2.jpg"); }
  .one-step--3 {
    background-image: url("../images/step3.jpg"); }
  .one-step__title {
    margin: 0 0 35px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    line-height: 144%;
    text-transform: uppercase; }
    .one-step__title--number {
      display: block;
      margin-bottom: 30px;
      font-size: 48px;
      font-weight: 400;
      color: #838383; }
  .one-step__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 170%; }
  .one-step__link {
    color: #000;
    text-decoration: none;
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }
    .one-step__link:hover {
      color: #EF5858; }

.question--open .question__head {
  background-color: #DBDBDB; }

.question--open .question__title {
  font-weight: bold; }

.question--open .question__btn-icon {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.question--open .question__text {
  height: auto;
  padding: 20px;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1); }

.question + .question {
  margin-top: 5px; }

.question__head {
  position: relative;
  padding: 25px 20px;
  padding-right: 80px;
  background-color: #F6F6F6;
  -webkit-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in; }

.question__title {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 141.4%;
  -webkit-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in; }

.question__btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 100%;
  padding: 0 20px;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.question__btn-icon {
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in; }

.question__text {
  height: 0;
  padding: 0 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 149.9%;
  -webkit-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
  overflow: hidden;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (min-width: 1024px) {
  .question__head {
    padding: 20px; }
  .question + .question {
    margin-top: 15px; } }

.footcontacts {
  margin: 40px 0 0;
  padding: 0px; }
  .footcontacts__info {
    padding: 0 10px; }
  .footcontacts__map {
    display: block;
    margin-top: 20px; }
    .footcontacts__map img {
      width: 100%; }

@media (min-width: 768px) {
  .footcontacts {
    margin: 30px auto 60px;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footcontacts__info {
      -webkit-box-flex: 360px;
          -ms-flex: 360px 0 0px;
              flex: 360px 0 0;
      margin-right: 30px;
      background-color: #f6f6f6;
      padding: 20px 15px; }
    .footcontacts__map {
      display: block;
      -webkit-box-flex: calc(100% - 390px);
          -ms-flex: calc(100% - 390px) 1 1;
              flex: calc(100% - 390px) 1 1;
      margin-top: 0; }
      .footcontacts__map img {
        width: 100%; } }

@media (min-width: 1024px) {
  .footcontacts {
    width: 960px;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 1200px) {
  .footcontacts {
    width: 1090px;
    margin: 60px auto 115px; }
    .footcontacts__info {
      margin-right: 50px;
      padding: 40px 30px; } }

.footcontacts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #adadad;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in; }
  .footcontacts-info__icon {
    margin-right: 35px; }
    .footcontacts-info__icon img {
      vertical-align: middle; }
  .footcontacts-info:hover {
    border-color: #000; }
  .footcontacts-info--mail {
    display: none; }

@media (min-width: 768px) {
  .footcontacts-info + .footcontacts-info {
    margin-top: 15px; }
  .footcontacts-info--mail {
    display: block; } }

.brdrmbs {
  display: none;
  padding: 35px 20px 20px; }
  .brdrmbs * + * {
    position: relative;
    margin-left: 45px; }
    .brdrmbs * + *::before {
      content: "";
      width: 5px;
      height: 5px;
      position: absolute;
      top: 50%;
      left: -25px;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      background-color: #E0E0E0; }
  .brdrmbs a {
    font-weight: 300;
    font-size: 14px;
    line-height: 173.4%;
    text-decoration: none;
    color: #000;
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }
    .brdrmbs a:hover {
      color: #EF5858; }
  .brdrmbs span {
    font-weight: 300;
    font-size: 14px;
    line-height: 173.4%;
    color: #686868; }

@media (min-width: 768px) {
  .brdrmbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (min-width: 1024px) {
  .brdrmbs {
    padding-right: 0;
    padding-left: 0; } }

.inform {
  padding: 40px 20px 30px; }
  .inform__descr {
    display: none;
    margin: 30px 0 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 173.4%; }

@media (min-width: 768px) {
  .inform {
    padding: 0 20px; }
    .inform__descr {
      display: block;
      max-width: 710px; } }

@media (min-width: 1024px) {
  .inform {
    padding: 0; } }

.comm {
  padding-top: 30px; }
  .comm__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    line-height: 106.4%;
    color: #000000;
    text-decoration: none;
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }
    .comm__phone:hover {
      color: #EF5858; }
    .comm__phone + .comm__phone {
      margin-top: 20px; }
    .comm__phone-text {
      -ms-flex-preferred-size: calc(100% - 60px);
          flex-basis: calc(100% - 60px); }
  .comm__right {
    margin-top: 40px; }
  .comm__title {
    margin: 0 0 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 200.4%;
    color: #000000; }
  .comm__data {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 186.4%;
    color: #000000; }
    .comm__data--bold {
      font-weight: bold; }

@media (min-width: 768px) {
  .comm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: space-beetween;
        -ms-flex-pack: space-beetween;
            justify-content: space-beetween;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .comm__left, .comm__right {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
    .comm__right {
      margin: 0; }
    .comm__title {
      font-size: 16px;
      margin-bottom: 0px; }
    .comm__data {
      font-size: 16px; }
    .comm__phone + .comm__phone {
      margin-top: 30px; } }

.experts {
  padding: 0 20px 100px; }

@media (min-width: 768px) {
  .experts {
    padding: 60px 0px 20px; }
    .experts__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.expert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .expert + .expert {
    margin-top: 45px; }
  .expert__info {
    padding-top: 5px;
    padding-left: 18px; }
  .expert__photo {
    width: 115px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .expert__name {
    margin: 0 0 17px;
    font-weight: bold;
    font-size: 18px;
    line-height: 106.4%; }
  .expert__job {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #D5D5D5;
    font-size: 14px;
    line-height: 106.4%; }
  .expert__years {
    margin: 0;
    font-size: 14px;
    line-height: 106.4%; }

@media (min-width: 768px) {
  .expert {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 40px;
    padding: 0;
    -webkit-box-flex: 33%;
        -ms-flex: 33% 1 0px;
            flex: 33% 1 0; }
    .expert + .expert {
      margin-top: 0; }
    .expert--center {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .expert--end {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
    .expert__info {
      padding: 0; }
    .expert__photo {
      width: 130px; } }

@media (min-width: 1024px) {
  .expert {
    margin-bottom: 70px; } }

.map-sect {
  margin: 40px 0 60px; }
  .map-sect__head {
    padding: 0 20px; }
  .map-sect__yamap {
    display: block;
    width: 100%; }

@media (min-width: 768px) {
  .map-sect {
    margin: 50px 0 65px; }
    .map-sect__head {
      padding: 0; } }

@media (min-width: 1024px) {
  .map-sect {
    margin: 55px 0 75px; } }

.reviews {
  padding: 30px 20px 50px; }
  .reviews__more {
    display: none;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #000;
    border: 2px solid #000;
    font-weight: 500;
    font-size: 12px;
    line-height: 196.9%;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }
    .reviews__more:hover {
      color: #000;
      background-color: #fff; }
  .reviews__pag {
    margin-top: 20px; }
  .reviews--proj .reviews__one:nth-child(n+5) {
    display: none; }
  .reviews--proj.reviews--open .reviews__one {
    display: block; }

@media (max-width: 768px) {
  .reviews {
    background-color: #F8F8F8; }
    .reviews:not(.reviews--open) .reviews__one:nth-child(n+4) {
      display: none; }
    .reviews:not(.reviews--open) .reviews__pag {
      display: none; }
    .reviews:not(.reviews--open) .reviews__more {
      display: block; } }

@media (min-width: 768px) {
  .reviews {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0; }
    .reviews--proj {
      padding-right: 20px;
      padding-left: 20px; } }

@media (min-width: 1024px) {
  .reviews--proj {
    padding-right: 0px;
    padding-left: 0px; } }

.review {
  padding: 30px 25px 40px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .review + .review {
    margin-top: 15px; }
  .review__name {
    margin: 0 0 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 218.4%; }
  .review__text {
    margin: 0 0 30px;
    font-size: 14px;
    line-height: 196.9%; }
  .review__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: nowrap;
        -ms-flex-align: nowrap;
            align-items: nowrap; }
  .review__rate {
    width: 110px; }
    .review__rate img {
      width: 100%; }
  .review__date {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #000000; }

@media (min-width: 768px) {
  .review {
    -webkit-box-shadow: 0px 5px 21px rgba(176, 176, 176, 0.12);
            box-shadow: 0px 5px 21px rgba(176, 176, 176, 0.12); }
    .review__info {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
    .review__date {
      margin-left: 50px; } }

.pagination-rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 230px;
  margin-left: auto;
  margin-right: auto; }
  .pagination-rev__link {
    text-decoration: none;
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }
    .pagination-rev__link:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .pagination-rev__link--prev img {
      -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
              transform-origin: center center;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
  .pagination-rev__order-link {
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    line-height: 106.4%;
    color: #000000;
    text-decoration: none; }
    .pagination-rev__order-link--current {
      font-weight: 500; }
    .pagination-rev__order-link + .pagination-rev__order-link {
      margin-left: 30px; }

.review-btns {
  margin-top: 15px; }

@media (min-width: 768px) {
  .review-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 25px; } }

@media (min-width: 1024px) {
  .review-btns {
    margin-top: 35px; } }

.btn-rev {
  display: block;
  width: 100%;
  padding: 10px 0;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.6;
  -webkit-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in; }
  .btn-rev:hover {
    background-color: #000;
    color: #fff; }
  .btn-rev--black {
    background-color: #000;
    font-weight: 500;
    color: #fff; }
    .btn-rev--black:hover {
      background-color: #fff;
      color: #000; }
  .btn-rev + .btn-rev {
    margin-top: 5px; }

@media (min-width: 768px) {
  .btn-rev {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 195px; }
    .btn-rev + .btn-rev {
      margin-top: 0;
      margin-left: 15px; } }

.price-list {
  padding: 25px 15px; }

@media (min-width: 768px) {
  .price-list {
    margin-top: 20px;
    padding: 20px;
    background-color: #F8F8F8; } }

@media (min-width: 1024px) {
  .price-list {
    margin-top: 30px;
    padding: 30px; } }

@media (min-width: 1200px) {
  .price-list {
    padding: 35px; } }

.price-category {
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 4px 5px rgba(171, 171, 171, 0.45);
          box-shadow: 0px 4px 5px rgba(171, 171, 171, 0.45); }
  .price-category__header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px;
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }
  .price-category__title {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 0 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 137.9%; }
  .price-category__price {
    font-weight: bold;
    font-size: 16px;
    line-height: 106.4%; }
  .price-category__btn {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 5;
    cursor: pointer; }
  .price-category__icon {
    width: 15px;
    height: 15px;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }
    .price-category__icon * {
      stroke: #000;
      -webkit-transition: 0.3s all ease-in;
      -o-transition: 0.3s all ease-in;
      transition: 0.3s all ease-in; }
  .price-category__list {
    display: none;
    padding: 20px 10px 0;
    overflow: hidden;
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .price-category--open {
    -webkit-box-shadow: none;
            box-shadow: none; }
    .price-category--open .price-category__header {
      background-color: #EAEAEA; }
    .price-category--open .price-category__list {
      display: block; }
    .price-category--open .price-category__icon {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }

@media (min-width: 768px) {
  .price-category {
    -webkit-box-shadow: none;
            box-shadow: none; }
    .price-category__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 20px 30px;
      border-radius: 15px;
      background-color: #fff; }
    .price-category__title {
      -ms-flex-preferred-size: 70%;
          flex-basis: 70%;
      max-width: 325px;
      margin: 0;
      font-weight: bold;
      font-size: 20px; }
    .price-category__price {
      margin-left: auto;
      font-weight: bold;
      font-size: 24px;
      color: #D61010; }
    .price-category__icon {
      width: 40px;
      height: 40px;
      margin-left: 50px;
      background-color: #EDEBEB; }
    .price-category__list {
      padding: 20px 30px; }
    .price-category--open:not(.price-category--serv) .price-category__icon {
      background-color: #fff;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
      .price-category--open:not(.price-category--serv) .price-category__icon path + path {
        stroke: transparent; }
    .price-category--serv .price-category__title {
      font-weight: normal;
      font-size: 15px;
      line-height: 120%; }
    .price-category--serv .price-category__price {
      margin-left: auto;
      font-weight: bold;
      font-size: 18px;
      line-height: 106.4%;
      color: #000; }
    .price-category--serv .price-category__icon {
      margin-left: 40px;
      background-color: transparent; }
    .price-category--serv .price-category__list {
      padding-top: 30px;
      padding-left: 50px; } }

@media (min-width: 1024px) {
  .price-category--serv .price-category__price {
    margin-left: 40px; }
  .price-category--serv .price-category__icon {
    margin-left: auto; } }

@media (min-width: 1200px) {
  .price-category__header {
    padding: 20px 40px; }
  .price-category__list {
    padding: 20px 40px 30px; }
  .price-category + .price-category {
    margin-top: 10px; }
  .price-category--serv .price-category__price {
    margin-left: 80px; } }

.price-item + .price-item {
  margin-top: 10px; }

.price-item__title {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 165.9%; }

.price-item__price {
  display: none; }

@media (min-width: 768px) {
  .price-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .price-item__title {
      -ms-flex-preferred-size: 70%;
          flex-basis: 70%;
      font-size: 18px;
      line-height: 2.3; }
    .price-item__price {
      display: block;
      margin-right: 60px;
      font-weight: bold;
      font-size: 18px;
      line-height: 2.2; } }

.serv-callback {
  display: none; }
  .serv-callback--one {
    display: block;
    padding: 40px 15px 50px;
    background-color: #EFEFEF; }
  .serv-callback__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

@media (min-width: 768px) {
  .serv-callback {
    padding: 30px 20px;
    background-image: url(../images/scall-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; } }

@media (min-width: 1024px) {
  .serv-callback {
    margin: 35px 0;
    padding: 30px; }
    .serv-callback__form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 20px;
      max-width: 465px; } }

@media (min-width: 1200px) {
  .serv-callback {
    padding: 40px 60px 50px; }
    .serv-callback__form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 20px;
      max-width: 465px; } }

.ready-proj {
  margin-top: 50px;
  padding: 0 15px; }

@media (min-width: 1024px) {
  .ready-proj {
    padding: 0; } }

.proj + .proj {
  margin-top: 65px; }

.proj__info {
  padding: 30px 5px 0; }

.proj__title {
  margin: 0 0 10px;
  font-weight: 300;
  font-size: 20px;
  line-height: 164.4%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000; }

.proj__done {
  margin-bottom: 20px; }

.proj__subtitle {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 164.4%;
  color: #000000; }

.proj__list {
  margin: 0;
  padding: 0;
  list-style-type: square;
  list-style-position: inside; }

.proj__item {
  font-weight: 300;
  font-size: 13px;
  line-height: 164.4%; }

.proj__data {
  margin: 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 164.4%; }

.proj__price {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 164.4%;
  color: #D61010; }

.proj__btn {
  display: block;
  margin-top: 30px;
  padding: 10px 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 218.4%;
  color: #000;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in; }
  .proj__btn:hover {
    background-color: #fbdb40;
    border-color: #fbdb40; }

@media (min-width: 1024px) {
  .proj {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px; }
    .proj + .proj {
      margin-top: 70px; }
    .proj__previews {
      -ms-flex-preferred-size: 350px;
          flex-basis: 350px; }
    .proj__info {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      padding: 0; }
    .proj__title {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 1;
      letter-spacing: 0.03em;
      text-transform: uppercase; }
    .proj__done {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      gap: 15px;
      margin: 0; }
      .proj__done + .proj__done {
        margin-top: 10px; }
    .proj__subtitle {
      margin: 0;
      -ms-flex-preferred-size: 60px;
          flex-basis: 60px;
      font-size: 14px;
      line-height: 164.4%; }
    .proj__item {
      font-weight: 300;
      font-size: 12px;
      line-height: 21px; }
    .proj__btn {
      margin-top: 25px; } }

@media (min-width: 1200px) {
  .proj {
    gap: 30px; }
    .proj__done {
      gap: 20px; } }

.prev-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3px; }
  .prev-list__item {
    width: 24%;
    height: 40px; }
    .prev-list__item--big {
      width: 100%;
      height: 110px; }
    .prev-list__item img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center center;
         object-position: center center; }

@media (min-width: 480px) {
  .prev-list__item {
    height: 100px; }
    .prev-list__item--big {
      height: 220px; } }

@media (min-width: 580px) {
  .prev-list__item {
    height: 200px; }
    .prev-list__item--big {
      height: 320px; } }

@media (min-width: 1024px) {
  .prev-list__item {
    height: 70px; }
    .prev-list__item--big {
      height: 175px; } }

body {
  font-family: "Ubuntu"; }

img {
  width: inherit;
  line-height: 0; }

.base + .bottom {
  margin-top: 40px; }

@media (min-width: 1024px) {
  .base {
    width: 960px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .base__content {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      padding-right: 20px; }
    .base__servs {
      margin-top: 25px; } }

@media (min-width: 1200px) {
  .base {
    width: 1090px; }
    .base__content {
      padding-right: 50px; }
    .base__servs {
      margin-top: 40px; } }

@media (min-width: 768px) {
  .mcallback-mobile {
    display: none; } }
