<aside class="base__maside maside">
	<picture class="maside__pic">
		<img src="images/@@preview" alt="">
	</picture>
	<div class="maside__mpluses mpluses">
		<h3 class="mpluses__title">Наши плюсы</h3>
		<div class="mpluses__one one-info">
			<picture class="one-info__icon">
				<source srcset="images/icon-drive.svg" type="image/svg+xml">
				<img src="images/icon-drive.png" alt="">
			</picture>
			<div class="one-info__text">
				<p class="one-info__title">Бесплатный выезд</p>
				<p class="one-info__descr">за 30 минут</p>
			</div>
		</div>
		<div class="mpluses__one one-info">
			<picture class="one-info__icon">
				<source srcset="images/icon-guarantee.svg" type="image/svg+xml">
				<img src="images/icon-guarantee.png" alt="">
			</picture>
			<div class="one-info__text">
				<p class="one-info__title">Гарантия на услуги</p>
				<p class="one-info__descr">до 3-х лет</p>
			</div>
		</div>
		<div class="mpluses__one one-info">
			<picture class="one-info__icon">
				<source srcset="images/icon-crown.svg" type="image/svg+xml">
				<img src="images/icon-crown.png" alt="">
			</picture>
			<div class="one-info__text">
				<p class="one-info__title">Лучшие мастера</p>
				<p class="one-info__descr">работают у нас</p>
			</div>
		</div>
	</div>
	<div class="maside__sale msale">
		<h3 class="msale__title">Скидка <span class="msale__title--red">15%</span>
			<span class="msale__title--online">за онлайн заказ</span></h3>
		<form action="#" class="msale__msale-form msale-form msale-form--aside">
			<input class="msale-form__input" type="tel" placeholder="+7 (___)-___-__-__" required="required">
			<button type="submit" class="msale-form__submit msale-form__submit--aside msale-form__submit--yellow">Получить скидку</button>
		</form>
		<p class="msale__info">
			Оператор перезвонит вам через 2 минуты
		</p>
	</div>
</aside>