<section class="footcontacts">
	<div class="footcontacts__info">
		<h2 class="subtitle subtitle--footcontacts">Контакты</h2>
		<a href="tel:4951547749" class="footcontacts-info">
			<picture class="footcontacts-info__icon">
				<source srcset="images/phone-icon.svg" type="image/svg+xml">
				<img src="images/phone-icon.png" alt="">
			</picture>
			<span class="footcontacts-info__text">
				(495) 154-77-49
			</span>
		</a>
		<a href="mailto:bc@promaster.com" class="footcontacts-info footcontacts-info--mail">
			<picture class="footcontacts-info__icon">
				<source srcset="images/mail-icon.svg" type="image/svg+xml">
				<img src="images/mail-icon.png" alt="">
			</picture>
			<span class="footcontacts-info__text">
				bc@promaster.com
			</span>
		</a>
		
	</div>
	<picture class="footcontacts__map">
		<source srcset="images/map-m.jpg" media="(max-width: 450px)">
		<img src="images/map.jpg" alt="">
	</picture>
</section>