

<footer class="bottom">
	<div class="bottom__content">
		<nav class="bottom__nav bottom-services">
			<ul class="bottom-services__list">
				<li class="bottom-services__item"><a href="#" class="bottom-services__link">Ремонт и монтаж электрики</a></li>
				<li class="bottom-services__item"><a href="#" class="bottom-services__link">Ремонт и монтаж сантехники</a></li>
				<li class="bottom-services__item"><a href="#" class="bottom-services__link">Мастер на час</a></li>
				<li class="bottom-services__item"><a href="#" class="bottom-services__link">Установка бытовой техники</a></li>
			</ul>
		</nav>
		<nav class="bottom__nav bottom-nav">
			<ul class="bottom-nav__list">
				<li class="bottom-nav__item"><a href="about.html" class="bottom-nav__link">О компании</a></li>
				<li class="bottom-nav__item"><a href="reviews.html" class="bottom-nav__link">Отзывы</a></li>
				<li class="bottom-nav__item"><a href="contacts.html" class="bottom-nav__link">Контакты</a></li>
				<li class="bottom-nav__item"><a href="price.html" class="bottom-nav__link">Цены</a></li>
			</ul>
		</nav>
		<div class="bottom__contacts">
			<a href="tel:4951547749" class="bottom-phone">(495) 154-77-49</a>
			<p class="bottom__work-time">пн-вс с 07:00 до 24:00</p>
		</div>
	</div>
	<p class="bottom__copy">© 2021 «ПроМастера»</p>
</footer>
<script src="js/main.js"></script>