<header class="heading">
	<div class="heading__top">
		<a href="/"><picture class="heading__emblem"><source srcset="images/logo.svg" type="image/svg+xml"><img src="images/logo.png" alt=""></picture></a>
		<button class="main-navm__mobile-btn mobile-btnm" type="button">
			<svg clacc="mobile-btnm__icon" width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path class="mobile-btn__line mobile-btn__line--1" d="M0 2H22.5" stroke="black" stroke-width="4"/>
				<path class="mobile-btn__line mobile-btn__line--2" d="M0 11H22.5" stroke="black" stroke-width="4"/>
				<path class="mobile-btn__line mobile-btn__line--3" d="M0 20H22.5" stroke="black" stroke-width="4"/>
			</svg>

		</button>
		<nav class="heading__nav main-navm">
			<ul class="main-navm__list">
				<li class="main-navm__item">
					<!-- для активной ссылки добавляется класс main-navm__link--active -->
					<a href="about.html" class="main-navm__link @@about">О компании</a>
				</li>
				<li class="main-navm__item"><a href="reviews.html" class="main-navm__link @@reviews">Отзывы</a></li>
				<li class="main-navm__item"><a href="price.html" class="main-navm__link @@price">Цены</a></li>
				<li class="main-navm__item"><a href="contacts.html" class="main-navm__link @@contacts">Контакты</a></li>
			</ul>
		</nav>
		<div class="heading__contacts">
			<a href="tel:4951547749" class="heading__phone"><picture class="heading__phone-icon">
					<source srcset="images/phone.svg" type="image/svg+xml">
					<img src="images/phone.png" alt="Позвоните нам">
				</picture> (495) 154-77-49</a>
			<span class="heading__time">пн-вс с 07:00 до 24:00</span>
		</div>
	</div>
				<!-- для cтраниц из подменю добавляется класс heading__bottom--page-->
	<div class="heading__bottom @@page">
		<nav class="mnav-service">
			<ul class="mnav-service__list">
				<!-- для активного элемента добавляется класс mnav-service__item--active -->
				<li class="mnav-service__item @@electro">
					<a href="electro.html" class="mnav-service__link">
						Ремонт и монтаж электрики
					</a>
					<ul class="mnav-service__mlist-servs mlist-servs__list mlist-servs">
						<!-- для активного элемента добавляется класс mlist-servs__item--active -->
						<li class="mlist-servs__item @@el-serv"><a href="electro-one.html" class="mlist-servs__link">Электрика под ключ</a></li>
						<li class="mlist-servs__item"><a href="electro-one.html" class="mlist-servs__link">Электропроводка</a></li>
						<li class="mlist-servs__item"><a href="electro-one.html" class="mlist-servs__link">выключатели</a></li>
						<li class="mlist-servs__item"><a href="electro-one.html" class="mlist-servs__link">розетки</a></li>
						<li class="mlist-servs__item"><a href="electro-one.html" class="mlist-servs__link">автоматы, узо</a></li>
						<li class="mlist-servs__item @@el-craft"><a href="electro-craft.html" class="mlist-servs__link">люстры, светильники</a></li>
						<li class="mlist-servs__item"><a href="electro-one.html" class="mlist-servs__link">Электрика под ключ</a></li>
						<li class="mlist-servs__item"><a href="electro-one.html" class="mlist-servs__link">Электропроводка</a></li>
						<li class="mlist-servs__item"><a href="electro-one.html" class="mlist-servs__link">выключатели</a></li>
						<li class="mlist-servs__item"><a href="electro-one.html" class="mlist-servs__link">розетки</a></li>
						<li class="mlist-servs__item"><a href="electro-one.html" class="mlist-servs__link">автоматы, узо</a></li>
						<li class="mlist-servs__item"><a href="electro-one.html" class="mlist-servs__link">люстры, светильники</a></li>
						<button class="mlist-servs__btn-more">
							<picture class="mlist-servs__btn-arrow">
								<source srcset="images/arrow.svg" type="image/svg+xml">
								<img src="images/arrow.png" alt="">
							</picture>
						</button>
					</ul>
				</li>
				<li class="mnav-service__item @@san">
					<a href="santeh.html" class="mnav-service__link">
					Ремонт и монтаж сантехники</a>
					<ul class="mnav-service__mlist-servs mlist-servs__list mlist-servs">
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Услуги сантехника</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Унитаз</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Биде / писсуар</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Ванна</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Смесители</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Душевая кабина</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Раковина/мойка</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Полотенцесушитель</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Засор канализации</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Трубы водоснабжения</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Гигиенический душ</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Сети отопления</a></li>
						<button class="mlist-servs__btn-more">
							<picture class="mlist-servs__btn-arrow">
								<source srcset="images/arrow.svg" type="image/svg+xml">
								<img src="images/arrow.png" alt="">
							</picture>
						</button>
					</ul>
				</li>
				<li class="mnav-service__item @@master">
					<a href="master.html" class="mnav-service__link">мастер на час</a>
					<ul class="mnav-service__mlist-servs mlist-servs__list mlist-servs">
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Мелкий бытовой ремонт</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Сборка мебели</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Настил линолеума</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Монтаж плинтусов</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Настил ковролина</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Установка карнизов</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Установка жалюзи</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Навеска зеркал и картин</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Штробление</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Укладка ламината</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Установка металлических дверей</a></li>
						<li class="mlist-servs__item"><a href="#" class="mlist-servs__link">Продажа металлических дверей</a></li>
						<button class="mlist-servs__btn-more">
							<picture class="mlist-servs__btn-arrow">
								<source srcset="images/arrow.svg" type="image/svg+xml">
								<img src="images/arrow.png" alt="">
							</picture>
						</button>
					</ul>
				</li>
				<li class="mnav-service__item @@instal">
					<a href="instal.html" class="mnav-service__link">Установка бытовой техники</a>
					<ul class="mnav-service__mlist-servs mlist-servs__list mlist-servs">
						<li class="mlist-servs__item @@washer"><a href="install-craft.html" class="mlist-servs__link">СТИРАЛЬНАЯ МАШИНА</a></li>
						<li class="mlist-servs__item"><a href="install-craft.html" class="mlist-servs__link">ПОСУДОМОЕЧНАЯ МАШИНА</a></li>
						<li class="mlist-servs__item"><a href="install-craft.html" class="mlist-servs__link">ВАРОЧНАЯ ПАНЕЛЬ</a></li>
						<li class="mlist-servs__item"><a href="install-craft.html" class="mlist-servs__link">ЭЛЕКТРОПЛИТА</a></li>
						<li class="mlist-servs__item"><a href="install-craft.html" class="mlist-servs__link">ДУХОВОЙ ШКАФ</a></li>
						<li class="mlist-servs__item"><a href="install-craft.html" class="mlist-servs__link">ВСТРАИВАЕМЫЙ ХОЛОДИЛЬНИК</a></li>
						
						<button class="mlist-servs__btn-more">
							<picture class="mlist-servs__btn-arrow">
								<source srcset="images/arrow.svg" type="image/svg+xml">
								<img src="images/arrow.png" alt="">
							</picture>
						</button>
					</ul>
				</li>

			</ul>
		</nav>
	</div>
	<div class="heading__icons-info icons-info">
		<div class="icons-info__one one-info">
			<picture class="one-info__icon">
				<source srcset="images/icon-time.svg" type="image/svg+xml">
				<img src="images/icon-time.png" alt="">
			</picture>
			<div class="one-info__text">
				<p class="one-info__title">Без выходных</p>
				<p class="one-info__descr">с 8:00 до 24:00</p>
			</div>
		</div>
		<div class="icons-info__one one-info">
			<picture class="one-info__icon">
				<source srcset="images/icon-drive.svg" type="image/svg+xml">
				<img src="images/icon-drive.png" alt="">
			</picture>
			<div class="one-info__text">
				<p class="one-info__title">Бесплатный выезд</p>
				<p class="one-info__descr">за 30 минут</p>
			</div>
		</div>
		<div class="icons-info__one one-info">
			<picture class="one-info__icon">
				<source srcset="images/icon-consult.svg" type="image/svg+xml">
				<img src="images/icon-consult.png" alt="">
			</picture>
			<div class="one-info__text">
				<p class="one-info__title">Бесплатная консультация</p>
				<p class="one-info__descr">от специалиста</p>
			</div>
		</div>
		<div class="icons-info__one one-info">
			<picture class="one-info__icon">
				<source srcset="images/icon-guarantee.svg" type="image/svg+xml">
				<img src="images/icon-guarantee.png" alt="">
			</picture>
			<div class="one-info__text">
				<p class="one-info__title">Гарантия на услуги</p>
				<p class="one-info__descr">до 3-х лет</p>
			</div>
		</div>
</header>