<section class="mtabs">
	<div class="mtabs__btns">
		<button data-tab="mtab--steps" class="mtabs__btn mtabs__btn--active">
			Как проводятся работы
		</button>
		<button data-tab="mtab--quest" class="mtabs__btn">
			Ответы на вопросы
		</button>
	</div>
	<div class="mtabs__all">
		<div class="mtabs__one mtabs__one--active mtab mtab--steps">
			<div class="steps">
				<div class="steps__one one-step one-step--1">
					<h3 class="one-step__title">
						<span class="one-step__title--number">1</span>
						Вы делаете<br> заказ
					</h3>
					<p class="one-step__text">
						Вы оставляете заявку на выезд мастера в удобное для вас время. Заявку можно оформить по тел. <a href="tel:4951547749" class="one-step__link">(495) 154-77-59</a> или с помощью формы онлайн заказа.
					</p>
				</div>
				<div class="steps__one one-step one-step--2">
					<h3 class="one-step__title">
						<span class="one-step__title--number">2</span>
						бесплатная<br> диагностика
					</h3>
					<p class="one-step__text">
						Приехавший к вам мастер проводит первичную диагностику для определения неисправности и стоимости работ. Передает вам прайс-лист на услуги.
					</p>
				</div>
				<div class="steps__one one-step one-step--3">
					<h3 class="one-step__title">
						<span class="one-step__title--number">3</span>
						проведение<br> работ
					</h3>
					<p class="one-step__text">
						По окончанию выполнения всех работ вам выдадут договор и бланк строгой отчетности БСО-1. На основании этих документов вы можете обратиться к нам, в случае возникновения гарантийного случая.
					</p>
				</div>
			</div>
			
		</div>
		<div class="mtabs__one mtab mtab--quest">
			<h2 class="subtitle">Часто задаваемые вопросы</h2>
			<div class="question">
				<header class="question__head">
					<h2 class="question__title">Как быстро может приехать мастер?</h2>
					<button class="question__btn">
						<picture class="question__btn-icon">
							<source srcset="images/icon-more.svg" type="image/svg+xml">
							<img src="images/icon-more.png" alt="">
						</picture>
					</button>
				</header>
				<div class="question__text">
					Выезд мастера в пределах города выполняется бесплатно
				</div>
			</div>
			<div class="question">
				<header class="question__head">
					<h2 class="question__title">Какая гарантия на услуги?</h2>
					<button class="question__btn">
						<picture class="question__btn-icon">
							<source srcset="images/icon-more.svg" type="image/svg+xml">
							<img src="images/icon-more.png" alt="">
						</picture>
					</button>
				</header>
				<div class="question__text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus voluptas at iusto sit fugiat facilis quae cupiditate temporibus laudantium dignissimos distinctio hic velit aliquam aut, laborum cum sapiente sint impedit.
				</div>
			</div>
			<div class="question">
				<header class="question__head">
					<h2 class="question__title">Почему мне стоит обратиться к вам?</h2>
					<button class="question__btn">
						<picture class="question__btn-icon">
							<source srcset="images/icon-more.svg" type="image/svg+xml">
							<img src="images/icon-more.png" alt="">
						</picture>
					</button>
				</header>
				<div class="question__text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus voluptas at iusto sit fugiat facilis quae cupiditate temporibus laudantium dignissimos distinctio hic velit aliquam aut, laborum cum sapiente sint impedit.
				</div>
			</div>
			
		</div>
	</div>
</section>