.maside{
	display: none;
	background-color: #fff;
	box-shadow: -20px 0 25px rgba(226, 228, 236, 0.25);
	&__pic{
		display: block;
		width: 100%;
	}
}
@media (min-width: 1024px){
	.maside{
		display: block;
		max-width: 305px;
		flex-shrink: 0;
	}
}

.mpluses{
	padding: 45px 20px 0;
	margin-bottom: 100px;
	&__title{
		margin: 0 0 20px;
		padding: 15px 0;
		font-weight: bold;
		font-size: 24px;
		line-height: 26px;
		color: #000;
		background-image: url('../images/pluses-bg.png');
		background-size: auto 100%;
		background-position: right center;
		background-repeat: no-repeat;
	}
	&__one{
		& + &{
			margin-top: 30px;
		}
	}
}
@media (min-width: 520px){
	.mpluses{
		&--proj{
			display: none;

		}
	}
}

.msale{
	margin: 0 20px;
	padding: 40px 15px 50px;
	background-color: #f7f7f7;
	&--callback{
		margin: 40px 0 30px;
		padding: 40px 10px;
	}
	&--reviews{
		padding: 20px;
		margin: 20px 0 0;
	}
	&__info{
		margin: 20px 0 0;
		font-weight: 300;
		font-size: 15px;
		line-height: 130%;
		&--callback{
			text-align: center;
			margin-bottom: 30px;
		}
	}
	&__title{
		margin: 0 0 25px;
		font-weight: bold;
		font-size: 24px;
		line-height: 106.4%;
		color: #000000;
		&--red{
			display: inline-block;
			padding: 5px;
			background-color: $red;
			color: #fff;
		}
		&--online{
			display: block;
			font-weight: 300;
		}
	}
}
@media (min-width: 768px){
	.msale{
		&--callback{
			padding-right: 0;
			padding-left: 0;
		}
	}
}
@media(min-width: 1024px){
	.msale{
		&--callback{
			background-color: #fff;
		}
		&--reviews{
			margin: 40px 0 0;
			padding: 0px;
		}
	}
}
.msale-form{
	&__label{
		display: block;
		margin-bottom: 10px;
		padding: 10px 0px;
		width: 100%;
		text-align: start;
		font-weight: 300;
		font-size: 18px;
		line-height: 106%;
		color: #000;
	}
	&__input{
		display: block;
		margin-bottom: 10px;
		width: 100%;
		padding: 20px;
		text-align: center;
		font-weight: 300;
		font-size: 18px;
		line-height: 106%;
		color: #000;
		background-color: transparent;
		border: 1px solid #000;
		box-sizing: border-box;
	}
	&__submit{
		display: block;
		width: 100%;
		margin-top: 10px;
		padding: 16px;
		font-weight: 500;
		font-size: 18px;
		line-height: 106%;
		color: #000;
		box-sizing: border-box;
		@include transition;
		cursor: pointer;
		&--red{
			border: 4px solid $red;
			background-color: #fff;
			&:hover{
				background-color: $red;
				color: #fff;
			}
		}
		&--black{
			border: 4px solid #000;
			background-color: #000;
			color: #fff;
			&:hover{
				color: #000;
				background-color: #fff;
			}	
		}
		&--yellow{
			border: 4px solid #fbdb40;
			background-color: #fbdb40;
			&:hover{
				background-color: #fff;
			}
		}
		&--show{
			display: none;
		}
	}
	
}
@media (max-width: 768px){
	.msale-form{
		&:not(&--show){
			*:not(.show-form){
				display: none;
			}
		}
		&--show{
			& > *:not(.show-form){
				display: block;
			}
			.show-form{
				display: none;
			}
		}
		&__submit--show{
			display: block;
		}	
	}
}
@media (min-width: 1024px){
	.msale-form{
		@include flex(row, nowrap, flex-start, center)
		padding: 20px 40px;
		background-color: #f7f7f7;
		&--aside{
			flex-flow: column nowrap;
			padding: 0;
		}
		&--reviews{
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 15px;
			& > *{
			}
		}
		&:not(&--reviews):not(&--aside){
			* + *{
				margin-left: 15px;
			}
		}
		&__label{
			padding: 5px 0;
			margin: 0;
		}
		&__input{
			margin-bottom: 0;
			padding: 13px 20px;
			border: none;
			background-color: #fff;
			&--contacts{
				flex-basis: 48%;
			}
		}
		&__submit{
			padding: 10px 20px;
			margin-top: 0;	
			&--aside{
				margin-top: 10px;
			}
		}
	}
}