.brdrmbs{
	display: none;
	padding: 35px 20px 20px;
	* + *{
		position: relative;
		margin-left: 45px;
		&::before{
			content: "";
			width: 5px;
			height: 5px;
			position: absolute;
			top: 50%;
			left: -25px;
			transform: translate(0, -50%);
			background-color: $border-grey;
		}
	}
	a{
		font-weight: 300;
		font-size: 14px;
		line-height: 173.4%;
		text-decoration: none;
		color: #000;
		@include transition;
		&:hover{
			color: $red;
		}
	}
	span{
		font-weight: 300;
		font-size: 14px;
		line-height: 173.4%;
		color: #686868;
	}
}
@media (min-width: 768px){
	.brdrmbs{
		@include flex(row, nowrap, flex-start, center);
	}
}
@media (min-width: 1024px){
	.brdrmbs{
		padding-right: 0;
		padding-left: 0;
	}
}