.footcontacts{
	margin: 40px 0 0;
	padding: 0px;
	&__info{
		padding: 0 10px;
	}

	&__map{
		display: block;
		margin-top: 20px;
		img{
			width: 100%;
		}
	}
}
@media (min-width: 768px){
	.footcontacts{
		margin: 30px auto 60px;
		padding: 0 20px;
		@include flex(row, nowrap, space-between, center)
		&__info{
			flex: 360px 0 0;
			margin-right: 30px;
			background-color: #f6f6f6;
			padding: 20px 15px;
		}
		&__map{
			display: block;
			flex: calc(100% - 390px) 1 1;
			margin-top: 0;
			img{
				width: 100%;
			}
		}
	}
}
@media (min-width: 1024px){
	.footcontacts{
		width: $con-md;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 1200px){
	.footcontacts{
		width: $con-lg;
		margin: 60px auto 115px;
		&__info{
			margin-right: 50px;
			padding: 40px 30px;
		}
	}
}
.footcontacts-info{
	@include flex(row, nowrap, flex-start, center);
	padding: 20px;
	box-sizing: border-box;
	border: 1px solid #adadad;
	color: #000;
	text-decoration: none;
	font-size: 16px;
	@include transition;
	&__icon{
		margin-right: 35px;
		img{
			vertical-align: middle;
		}
	}
	&:hover{
		border-color: #000;
	}
	&--mail{
		display: none;
	}
}
@media (min-width: 768px){
	.footcontacts-info{
		& + &{
			margin-top: 15px;
		}
		&--mail{
			display: block;
		}
	}
}