.experts{
	padding: 0 20px 100px;

}
@media (min-width: 768px){
	.experts{
		padding: 60px 0px 20px;
		&__list{
			@include flex(row, wrap, space-around, flex-start);
		}
	}
}
.expert{
	@include flex(row, nowrap, flex-start, stretch);
	& + &{
		margin-top: 45px;
	}
	&__info{
		padding-top: 5px;
		padding-left: 18px;
	}
	&__photo{
		width: 115px;
		flex-shrink: 0;
	}	
	&__name{
		margin: 0 0 17px;
		font-weight: bold;
		font-size: 18px;
		line-height: 106.4%;
	}
	&__job{
		width: fit-content;
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 2px solid #D5D5D5;
		font-size: 14px;
		line-height: 106.4%;
	}
	&__years{
		margin: 0;
		font-size: 14px;
		line-height: 106.4%;
	}
}
@media (min-width: 768px){
	.expert{
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 40px;
		padding: 0;
		flex: 33% 1 0;
		& + &{
			margin-top: 0;
		}
		&--start{}
		&--center{
			align-items: center;
		}
		&--end{
			align-items: flex-end;
		}

		&__info{
			padding: 0;
		}
		&__photo{
			width: 130px;
		}
		&__job{

		}

	}
}
@media (min-width: 1024px){
	.expert{
		margin-bottom: 70px;
	}
}