.bottom{
	margin-top: 10px;
	padding: 30px 0 40px;
	background-color: $footer-bg;
	&__contacts{
		padding: 0 20px;
	}
	&-phone{
		display: block;
		font-weight: bold;
		font-size: 16px;
		line-height: 218.4%;
		text-transform: uppercase;
		text-decoration: none;
		color: #D61010;
		@include transition;
		&:hover{
			color: $red;
		}
	}
	&__work-time{
		margin: 0;
		font-weight: 300;
		font-size: 12px;
		line-height: 218.4%;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.79);
	}
	&__copy{
		margin: 30px 0 0;
		padding: 0 20px;
		font-weight: 300;
		font-size: 14px;
		line-height: 180.4%;
		color: rgba(255, 255, 255, 0.74);
	}
}
@media (min-width: 768px){
	.bottom{
		margin-top: 60px;
		padding: 20px;
		&__content{
			@include flex(row, wrap, space-between, center);
		}
		&__nav{
			flex-basis: 50%;
		}
		&__contacts{
			flex-basis: 100%;
			margin-top: 30px;
			padding: 0;
		}
		&__copy{
			padding: 0;
		}

	}
}
@media (min-width: 1024px){
	.bottom{
		padding: 30px calc((100% - 960px) / 2);
		margin: 100px auto 0;
		&__content{
			align-items: flex-start;
			align-content: flex-start;

		}
		&__nav{
			flex-basis: 33%;
		}
		&__contacts{
			flex-basis: 33%;
			margin: 0;
			text-align: end;
		}
		&-phone{
			margin-bottom: 8px;
			font-size: 18px;
			line-height: 1;
		}
	}
}
@media (min-width: 1200px){
	.bottom{
		padding-left: calc((100% - 1090px) / 2);
		padding-right: calc((100% - 1090px) / 2);
	}
}

.bottom-services{
	&__list{
		margin: 0;
		padding: 0 20px 20px;
		list-style: none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.37);
	}
	&__item{
		& + &{
		}
	}
	&__link{
		font-size: 12px;
		line-height: 218.4%;
		color: rgba(255, 255, 255, 0.74);
		text-decoration: none;
		@include transition;
		&:hover{
			color: $red;
		}
	}
}
@media (min-width: 768px){
	.bottom-services{
		&__list{
			padding: 0;
			border: none;
		}
		&__link{
			font-size: 13px;
		}
	}
}
@media (min-width: 768px){
	.bottom-services{
		&_link{
			font-size: 14px;
		}
	}
}
.bottom-nav{
	&__list{
		@include flex(row, wrap, flex-start, center);
		margin: 0;
		padding: 15px 20px 10px;
		list-style: none;
	}
	&__item{
		flex-basis: 50%;
		margin-bottom: 10px;

	}
	&__link{
		font-size: 12px;
		line-height: 162.4%;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.74);
		text-decoration: none;
		@include transition;
		&:hover{
			color: $red;
		}
	}
}
@media (min-width: 768px){
	.bottom-nav{
		&__list{
			padding: 0;
		}
		&__item{
			flex-basis: 33%;
		}
		// flex-basis: 50%;
	}
}
@media (min-width: 1024px){
	.bottom-nav{
		&__item{
			flex-basis: 50%;
		}
	}
}