.heading{
	&__top{
		position: relative;
		@include flex(row, wrap, space-between, center);
		padding-top: 20px;
	}
	&__emblem{
		width: 160px;
		flex: 160px 0 0;
		margin-left: 20px;
	}
	&__nav{
		margin-right: 20px;
	}
	&__contacts{
		margin-top: 15px;
		flex: 100% 1 0;
		padding: 10px 0;
		text-align: center;
		background-color: $red;
	}
	&__phone{
		font-weight: bold;
		font-size: 18px;
		line-height: 20px;
		text-transform: uppercase;
		text-decoration: none;
		color: #FFFFFF;
		@include transition;
		&-icon{
			width: 20px;
			height: 20px;
			margin-right: 15px;
			vertical-align: middle;
		}
		&:hover{
			color: $red;
		}
	}
	&__time{
		display: none;
		font-weight: 300;
		font-size: 12px;
		line-height: 26px;
		text-transform: uppercase;
		color: #000000;
	}
	&__bottom{
		display: none;
		&--page{
			margin-bottom: 80px;
		}
	}
	&__icons-info{
		display: none;
	}

}
@media (min-width: 768px){
	.heading{
		padding: 20px;
		border-bottom: 2px solid #F2F5F8;
		&__top{
			padding: 0 0 10px;
		}
		&__emblem{
			margin-left: 0;
		}
		&__contacts{
			margin-top: 0;
			padding: 0;
			flex: auto 0 0;
			background-color: transparent;
		}
		&__phone{
			color: #000;
			&-icon{
				display: none;
			}
		}
		&__time{
			display: block;
		}
		&__bottom{
			position: relative;
			display: block;
		}
		&__icons-info{
			@include flex(row, wrap, space-between, flex-start);
		}
		&__emblem{
			width: 200px;
		}
	}
}
@media (min-width: 1024px){
	.heading{
		width: $con-md;
		margin: 0 auto;
		padding: 20px 0 30px;
		&__top{
			padding-bottom: 20px;
		}
		&__icons-info{
			flex-wrap: nowrap;
		}
		&__emblem{
			width: 280px;
		}
	}
}
@media (min-width: 1200px){
	.heading{
		width: $con-lg;
	}
}

@media (max-width: 1024px){}
@media (min-width: 768px){}
@media (min-width: 1024px){}
@media (min-width: 1200px){}

.main-navm{
	box-sizing: border-box;
	&__link{
		color: #000;
		font-size: 14px;
		line-height: 162.4%;
		color: #000000;
		text-decoration: none;
		@include transition;
		&:hover{
			color: $red;
		}
		&--active{
			font-weight: 700;
		}
	}
	&__mobile-btn{
		display: inline-block;
		margin-right: 20px;
	}
	&__list{
		margin: 0;
		padding: 0;
		list-style: none;
	}
}
@media (max-width: 768px){
	.main-navm{
		// display: none;
		position: absolute;
		top: 106px;
		left: -100%;
		width: 100%;
		background-color: #fff;
		min-height: calc(100vh - 106px);
		@include transition;
		&--open{
			left: 0;
		}
		&__list{
			margin: 0;
			padding: 20px;
		}
		&__item{
			display: block;
			text-align: center;
			& + &{
				margin-top: 10px;
			}
		}
	}
}
@media (min-width: 768px){
	.main-navm{
		margin: 0;
		&__list{
			@include flex(row, nowrap, space-around)
		}
		&__item{
			& + &{
				margin-left: 20px;
			}
		}
	}
}
@media (min-width: 1024px){
	.main-navm{
		&__item{
			& + &{
				margin-left: 30px;
			}
		}
	}
}
@media (min-width: 1200px){
	.main-navm{
		&__item{
			& + &{
				margin-left: 45px;
			}
		}
	}
}
.mobile-btnm{
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	&__icon{
		width: 20px;
	}
	&__line{
		transform-origin: center center;
		@include transition;
	}
	&--open{
		.mobile-btnm__line{
			&--1{
				transform-origin: left top;
				transform: translate(5px, 0px) rotate(45deg);
			}
			&--2{
				opacity: 0;
			}
			&--3{
				transform-origin: left bottom;
				transform: translate(5px, -3px) rotate(-45deg);
			}
		}
	}
}
@media (min-width: 768px){
	.mobile-btnm{
		display: none;
	}
}

.mnav-service{
	position: relative;
	&__list{
		@include flex(row, nowrap, center, stretch);
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__item{
		flex: 25% 1 0;
		&:hover{	
			.mnav-service__mlist-servs{
				display: flex;
			}
		}
		& + & .mnav-service__link::before{
			content: "";
			position: absolute;
			top: 50%;
			left: -0.5px;
			width: 1px;
			height: 30px;
			transform: translate(0, -50%);
			background-color: rgba(255, 255, 255, 0.5);
		}
		&--active{
			.mnav-service__link{
				background-color: $dark-red;
				&::after{
					opacity: 1;
				}
			}
			.mnav-service__mlist-servs{
				display: flex;
				z-index: 5;
			}
		}
	}
	&__link{
		position: relative;
		display: block;
		padding: 10px 0;
		font-weight: 500;
		font-size: 10px;
		line-height: 26px;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		background-color: $red;
		text-decoration: none;
		@include transition;
		&::after{
			content: "";
			position: absolute;
			bottom: -15px;
			left: 50%;
			z-index: 15;
			transform: translate(0, -50%);
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 10px solid $dark-red;
			border-radius: 1px;
			opacity: 0;
			@include transition;
		}
		&:hover,
		&:focus{
			background-color: $dark-red;
			&::after{
				opacity: 1;
			}
		}
		&:focus + .mnav-service__mlist-servs{
			display: flex;
		}

	}
	&__mlist-servs{
		display: none;
		&.show{
			display: flex;
		}
	}
}
@media (min-width: 1024px){
	.mnav-service{
		&__link{
			font-size: 12px;
		}
	}
}
.mlist-servs{
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin: 0;
	padding-left: 10px;
	padding-right: 50px;
	list-style: none;
	background-color: $grey-bg;
	box-sizing: border-box;
	&.open-sub{
		.mlist-servs__item{
			display: block;
			margin-bottom: 10px;
		}	
		.mlist-servs__btn-more{
			// transform: translate(0, -50%) rotate(180deg);
			transform: rotate(180deg);
		}
	}

	&__item{
		padding: 15px 0;
		flex: 20% 0 0;
		text-align: center;
		@include transition;
		&:hover{
			background-color: $border-grey;
		}
		&:nth-child(n+6){
			display: none;
		}
		&--active{
			// display: block!important;
			// order: -1;
			.mlist-servs__link{
				font-weight: 700;
			}			
		}

	}
	&__list{
	}
	&__link{
		font-size: 10px;
		line-height: 1.5;
		text-transform: uppercase;
		color: #000000;
		text-decoration: none;
		@include transition;
		&:hover{
			color: $red;

		}
	}
	&__btn-more{
		position: absolute;
		top: 12px;
		right: 10px;
		// transform: translate(0, -50%);
		padding: 0;
		border: none;
		background-color: transparent;
		cursor: pointer;
		transform-origin: center center;
		line-height: 0;
		@include transition;
		&--open{
		}
	}
	&__btn-arrow{
		width: 30px;
		height: 30px;
		object-fit: contain;
		@include transition;
	}
}
@media (min-width: 1024px){
	.mlist-servs{
		&__link{
			font-size: 12px;
		}
	}
}
@media (min-width: 1200px){
	.mlist-servs{
		padding-left: 80px;
		padding-right: 110px;
		&__btn-more{
			right: 40px;
		}
		&__link{
			line-height: 26px;

		}
	}
}