.icons-info{
	padding: 0 20px;
	// background-color: red;	
}
@media (min-width: 768px){
	.icons-info{
		margin-top: 15px;
		&__one{
			flex-basis: 45%;
			margin-bottom: 15px;
		}
	}

}
@media (min-width: 1024px){
	.icons-info{
		width: $con-md;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		&__one{
			// flex-basis: 25%;
			margin-bottom: 0;
		}
	}
}
@media (min-width: 1200px){
	.icons-info{
		width: $con-lg;
		margin-top: 25px;
		// justify-content: flex-start;
		&__one{
			// flex-basis: 290px;
			& + &{
				// margin-left: 40px;
			}
		}
	}
}

.one-info{
	@include flex(row, nowrap, flex-start, center);
	&__icon{
		width: 60px;
		height: 40px;
		margin-right: 10px;
		flex-shrink: 0;
		img{
			height: inherit;
			object-fit: contain;
		}
	}
	&__text{}
	&__title{
		margin: 0;
		font-weight: 500;
		font-size: 16px;
		line-height: 121.4%;
	}
	&__descr{
		margin: 0;
		font-weight: 300;
		font-size: 16px;
		line-height: 121.4%;
	}
}
@media (min-width: 1024px){
	.one-info{
		flex-basis: auto;
		&__icon{
			width: 70px;
			margin-right: 15px;
		}
		&__title,
		&__descr{
			font-size: 14px;
		}
	}
}
@media (min-width: 1200px){
	.one-info{
		&__title,
		&__descr{
			font-size: 16px;
		}
	}
}
