.index-info{
	padding: 45px 20px 20px;
	&__descr{
		display: none;
		max-width: 670px;
		margin: 0;
		font-weight: 300;
		font-size: 16px;
		line-height: 200%;
	}
}
@media (min-width: 1024px){
	.index-info{
		padding: 75px 0 0;
		&__descr{
			display: block;
		}
	}
}