.map-sect{
	margin: 40px 0 60px;
	&__head{
		padding: 0 20px;
	}
	&__yamap{
		display: block;
		width: 100%;
	}

}
@media (min-width: 768px){
	.map-sect{
		margin: 50px 0 65px;
		&__head{
			padding: 0;
		}
	}
}
@media (min-width: 1024px){
	.map-sect{
		margin: 55px 0 75px;
	}
}