.inform{
	padding: 40px 20px 30px;
	&__descr{
		display: none;
		margin: 30px 0 0;
		font-weight: 300;
		font-size: 16px;
		line-height: 173.4%;

	}
}
@media (min-width: 768px){
	.inform{
		padding: 0 20px;
		&__descr{
			display: block;
			max-width: 710px;
		}
	}
}
@media (min-width: 1024px){
	.inform{
		padding: 0;	
	}
}
.comm{
	padding-top: 30px;
	&__phone{
		@include flex(row, nowrap, space-between, center);
		font-size: 20px;
		line-height: 106.4%;
		color: #000000;
		text-decoration: none;
		@include transition;
		&:hover{
			color: $red;
		}
		& + &{
			margin-top: 20px;
		}
		&-icon{
			
		}
		&-text{
			flex-basis: calc(100% - 60px);
		}
	}
	&__right{
		margin-top: 40px;
	}
	&__title{
		margin: 0 0 10px;
		font-weight: normal;
		font-size: 14px;
		line-height: 200.4%;
		color: #000000;
	}
	&__data{
		margin: 0;
		font-weight: 300;
		font-size: 14px;
		line-height: 186.4%;
		color: #000000;
		&--bold{
			font-weight: bold;
		}

	}

}
@media (min-width: 768px){
	.comm{
		@include flex(row, nowrap, space-beetween, stretch);
		&__left, &__right{
			flex-basis: 50%;
		}
		&__right{
			margin: 0;
		}
		&__title{
			font-size: 16px;
			margin-bottom: 0px;
		}
		&__data{
			font-size: 16px;
		}
		&__phone{
			& + &{
				margin-top: 30px;
			}
		}
	}
}