.price-list{
	padding: 25px 15px;
}
@media (min-width: 768px){
	.price-list{
		margin-top: 20px;
		padding: 20px;
		background-color: #F8F8F8;

	}
}
@media (min-width: 1024px){
	.price-list{
		margin-top: 30px;
		padding: 30px;
	}
}
@media (min-width: 1200px){
	.price-list{
		padding: 35px;
	}
}

.price-category{
	margin-bottom: 5px;
	box-shadow: 0px 4px 5px rgba(171, 171, 171, 0.45);
	&__header{
		position: relative; 
		@include flex(row, wrap, space-between, flex-start);
		padding: 20px;
		@include transition;
	}
	&__title{
		flex-basis: 100%;
		margin: 0 0 15px;
		font-weight: normal;
		font-size: 14px;
		line-height: 137.9%;
	}
	&__price{
		font-weight: bold;
		font-size: 16px;
		line-height: 106.4%;
	}
	&__btn{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		padding: 0;
		border: none;
		background-color: transparent;
		z-index: 5;
		cursor: pointer;
	}
	&__icon{
		width: 15px;
		height: 15px;
		transform-origin: center center;
		@include transition();
		*{
			stroke: #000;
			@include transition;
		}
	}
	&__list{
		display: none;
		padding: 20px 10px 0;	
		overflow: hidden;
		@include transition();
		box-sizing: border-box;
	}
	&--open{
		box-shadow: none;
		.price-category__header{
			background-color: #EAEAEA;
		}
		.price-category__list{
			display: block;
		}
		.price-category__icon{
			transform: rotate(45deg);
		}
	}
}
@media (min-width: 768px){
	.price-category{
		box-shadow: none;
		&__header{
			@include flex(row, nowrap, flex-start, center);
			padding: 20px 30px;
			border-radius: 15px;
			background-color: #fff;
		}
		&__title{
			flex-basis: 70%;
			max-width: 325px;		
			margin: 0;
			font-weight: bold;
			font-size: 20px;
		}
		&__price{
			margin-left: auto;
			font-weight: bold;
			font-size: 24px;
			color: #D61010;
		}
		&__icon{
			width: 40px;
			height: 40px;
			margin-left: 50px;
			background-color: #EDEBEB;
		}
		&__list{
			padding: 20px 30px;
		}
		&--open:not(&--serv){
			.price-category{}
			.price-category__icon{
				background-color: #fff;
				transform: none;
				path + path{
					stroke: transparent;
				}
			}
		}
		&--serv{
			.price-category{
				&__title{
					font-weight: normal;
					font-size: 15px;
					line-height: 120%;
				}
				&__price{
					margin-left: auto;
					font-weight: bold;
					font-size: 18px;
					line-height: 106.4%;
					color: #000;
				}
				&__icon{
					margin-left: 40px;
					background-color: transparent;
				}
				&__list{
					padding-top: 30px;
					padding-left: 50px;
				}
				&--open{
					.price-category__icon{

					}
				}
			}

		}
	}
}
@media (min-width: 1024px){
	.price-category{
		&--serv{
			.price-category__price{
				margin-left: 40px;
			}
			.price-category__icon{
				margin-left: auto;
			}
		}
	}
}
@media (min-width: 1200px){
	.price-category{
		&__header{
			padding: 20px 40px;
		}
		&__list{
			padding: 20px 40px 30px;
		}
		& + &{
			margin-top: 10px;
		}
		&--serv{
			.price-category__price{
				margin-left: 80px;
			}
		}
	}
}
.price-item{
	& + &{
		margin-top: 10px;
	}
	&__title{
		margin: 0;
		font-weight: 300;
		font-size: 14px;
		line-height: 165.9%;
	}
	&__price{
		display: none;
	}
}
@media (min-width: 768px){
	.price-item{
		@include flex(row, nowrap, flex-start, center);
		&__title{
			flex-basis: 70%;
			font-size: 18px;
			line-height: 2.3;
		}
		&__price{
			display: block;
			margin-right: 60px;
			font-weight: bold;
			font-size: 18px;
			line-height: 2.2;
			
		}
	}
}