.ready-proj{
	margin-top: 50px;
	padding: 0 15px;
}
@media (min-width: 1024px){
	.ready-proj{
		padding: 0;
	}
}
.proj{
	// display: block;
	& + &{
		margin-top: 65px;
	}
	&__info{
		padding: 30px 5px 0;
	}
	&__title{
		margin: 0 0 10px;
		font-weight: 300;
		font-size: 20px;
		line-height: 164.4%;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #000000;
	}
	&__done{
		margin-bottom: 20px;
	}
	&__subtitle{
		margin: 0 0 10px;
		font-weight: bold;
		font-size: 16px;
		line-height: 164.4%;
		color: #000000;
	}
	&__list{
		margin: 0;
		padding: 0;
		list-style-type: square;
		list-style-position: inside;
	}
	&__item{
		font-weight: 300;
		font-size: 13px;
		line-height: 164.4%;
		& + &{
			// margin-top: 10px;
		}
	}
	&__data{
		margin: 0;
		font-weight: 300;
		font-size: 13px;
		line-height: 164.4%;
	}
	&__price{
		margin: 0;
		font-weight: 500;
		font-size: 16px;
		line-height: 164.4%;
		color: #D61010;
	}
	&__btn{
		display: block;
		margin-top: 30px;
		padding: 10px 0;
		width: 100%;
		background-color: #fff;
		border: 1px solid #000;
		font-weight: 500;
		font-size: 12px;
		line-height: 218.4%;
		color: #000;
		text-align: center;
		text-decoration: none;
		@include transition;
		&:hover{
			background-color: #fbdb40;
			border-color: #fbdb40;
		}
	}
}
@media (min-width: 1024px){
	.proj{
		@include flex(row, nowrap, space-between, flex-start);
		gap: 20px;
		& + &{
			margin-top: 70px;
		}
		&__previews{
			flex-basis: 350px;
		}
		&__info{
			flex-basis: 50%;
			padding: 0;
		}
		&__title{
			margin-bottom: 20px;
			font-size: 18px;
			line-height: 1;
			letter-spacing: 0.03em;
			text-transform: uppercase;
		}
		&__done{
			@include flex(row, nowrap, flex-start, flex-start);
			gap: 15px;
			margin: 0;
			& + &{
				margin-top: 10px;

			}
		}
		&__subtitle{
			margin: 0;
			flex-basis: 60px;
			font-size: 14px;
			line-height: 164.4%;
		}
		&__item{
			font-weight: 300;
			font-size: 12px;
			line-height: 21px;
		}
		&__btn{
			margin-top: 25px;
		}
	}
}
@media (min-width: 1200px){
	.proj{
		gap: 30px;
		&__done{
			gap: 20px;
		}
	}
}
.prev-list{
	@include flex(row, wrap, space-between, flex-start);
	gap: 3px;
	&__item{
		width: 24%;
		height: 40px;
		&--big{
			width: 100%;
			height: 110px;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}
}
@media (min-width: 480px){
	.prev-list{
		&__item{
			height: 100px;
			&--big{
				height: 220px;
			}
		}
	}
}
@media (min-width: 580px){
	.prev-list{
		&__item{
			height: 200px;
			&--big{
				height: 320px;
			}
		}
	}
}
@media (min-width: 1024px){
	.prev-list{
		&__item{
			height: 70px;
			&--big{
				height: 175px;
			}
		}
	}
}
