.reviews{
	padding: 30px 20px 50px;
	&__more{
		display: none;
		width: 100%;
		margin-top: 20px;
		padding: 10px;
		background-color: #000;
		border: 2px solid #000;
		font-weight: 500;
		font-size: 12px;
		line-height: 196.9%;
		color: #FFFFFF;
		text-align: center;
		cursor: pointer;
		@include transition;
		&:hover{
			color: #000;
			background-color: #fff;
		}
	}
	&__pag{
		margin-top: 20px;
	}
	&__btns{

	}
	&--proj{
		.reviews__one:nth-child(n+5){
			display: none;
		}
		&.reviews--open{
			.reviews__one{
				display: block;
			}
		}

	}
}
@media (max-width: 768px){
	.reviews{
		background-color: #F8F8F8;
		&:not(&--open){
			.reviews{

				&__one:nth-child(n+4){
					display: none;
				}
				&__pag{
					display: none;
				}
				&__more{
					display: block;
				}
			}
		}
	}
}
@media (min-width: 768px){
	.reviews{
		background-color: transparent;
		padding-left: 0;
		padding-right: 0;
		&--proj{
			padding-right: 20px;
			padding-left: 20px;

		}
	}
}

@media (min-width: 1024px){
	.reviews{
		&--proj{
			padding-right: 0px;
			padding-left: 0px;
		}
	}
}

.review{
	padding: 30px 25px 40px;
	background-color: #fff;
	border-radius: 20px;
	box-sizing: border-box;
	& + &{
		margin-top: 15px;
	}
	&__name{
		margin: 0 0 15px;
		font-weight: bold;
		font-size: 18px;
		line-height: 218.4%;
	}
	&__text{
		margin: 0 0 30px;
		font-size: 14px;
		line-height: 196.9%;
	}
	&__info{
		@include flex(row, nowrap, space-between, nowrap);
	}
	&__rate{
		width: 110px;
		img{
			width: 100%;
		}
	}
	&__date{
		margin: 0;
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
		color: #000000;
	}
}
@media (min-width: 768px){
	.review{
		box-shadow: 0px 5px 21px rgba(176, 176, 176, 0.12);
		&__info{
			justify-content: flex-start;
		}
		&__date{
			margin-left: 50px;
		}
	}
}

.pagination-rev{
	@include flex(row, nowrap, space-between, center);
	max-width: 230px;
	margin-left: auto;
	margin-right: auto;
	&__link{
		text-decoration: none;
		@include transition;
		&:hover{
			transform: scale(1.1);
		}
		&--prev{
			img{
				transform-origin: center center;
				transform: rotate(180deg);
			}
		}
	}
	&__order-link{
		display: inline-block;
		font-weight: 300;
		font-size: 14px;
		line-height: 106.4%;
		color: #000000;
		text-decoration: none;
		&--current{
			font-weight: 500;
		}
		& + &{
			margin-left: 30px;
		}
	}	
}

.review-btns{
	margin-top: 15px;
}

@media (min-width: 768px){
	.review-btns{
		@include flex(row, nowrap, flex-start, center);
		margin-top: 25px;
	}
}

@media (min-width: 1024px){
	.review-btns{
		margin-top: 35px;
	}
}


.btn-rev{
	display: block;
	width: 100%;
	padding: 10px 0;
	border: 1px solid #000;
	color: #000;
	background-color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	line-height: 1.6;
	@include transition;
	&:hover{
		background-color: #000;
		color: #fff;
	}
	&--black{
		background-color: #000;
		font-weight: 500;
		color: #fff;
		&:hover{
			background-color: #fff;
			color: #000;
		}
	}
	& + &{
		margin-top: 5px;
	}

}

@media (min-width: 768px){
	.btn-rev{
		flex-grow: 1;
		max-width: 195px;
		& + &{
			margin-top: 0;
			margin-left: 15px;
		}
	}
}


