.mservs-list{
	@include flex(row, wrap, space-between, flex-start);
	padding: 0 10px;
	&__one{
		flex-basis: calc(50% - 5px);
		margin-bottom: 10px;
		border: 5px solid #e4e4e4;
		box-sizing: border-box;
	}
	&--page{
		padding: 0 20px;
	}
}
@media (min-width: 768px){
	.mservs-list{
		padding: 0 20px;
		&--page{
			margin: 20px 0 50px;
		}
	}
}
@media (min-width: 1024px){
	.mservs-list{
		padding: 0;
		&--page{
			margin: 35px 0 70px;
		}
	}
}
.mserv-one{
	position: relative;
	width: 145px;
	height: 145px;
	padding: 13px;
	box-sizing: border-box;
	@include transition;
	&:hover{
		box-shadow: 0 0 5px rgb(228, 228, 228);
	}
	&--page{
		flex-basis: 100%;
		height: 115px;
		.mserv-one__preview{
			width: 90px;
			height: 85px;
		}
	}
	&--install{
		flex-basis: 100%;
	}

	&__link{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 5;
	}
	&__title{
		margin: 0;
		font-weight: 300;
		font-size: 16px;
		line-height: 120%;
		br{
			display: none;
		}
	}
	&__preview{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
		width: 80px;
		// height: 80px;
		line-height: 0;
		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: bottom right;
		}
	}
	&__price{
		margin: 10px 0 0;
		font-weight: bold;
		font-size: 18px;
		line-height: 200.4%;
		color: #000000;
	}
}
@media (min-width: 480px){
	.mserv-one{
		&--page, &--install{
			flex-basis: 49%;
		}
	}
}
@media (min-width: 768px){
	.mserv-one{
		&--page{
			@include flex(column, nowrap, space-between, flex-start);
			flex-basis: 32%;
		}
		&--instll{
			@include flex(column, nowrap, space-between, flex-start);

		}
	}
}

@media (min-width: 1024px){
	.mserv-one{
		padding: 20px;
		height: 190px;
		&__title{
			font-size: 18px;
			br{
				display: inline;
			}
		}
		&__preview{
			width: 120px;
		}
		&--page{
			height: 160px;
		}
		&__price{
			margin: 0;
			font-size: 20px;
		}
		&--install{
			.mserv-one__title{
				font-size: 20px;
				line-height: 144%;
			}
		}
	}
}
@media (min-width: 1200px){
	.mserv-one{
		padding: 40px 30px;	
		&--page{
			padding: 25px 20px;
		}
		&__title{
			max-width: 195px;
			font-size: 20px;
		}
		&__preview{
			width: 130px;
		}

	}
}