.serv-callback{
	display: none;
	&--one{
		display: block;
		padding: 40px 15px 50px; 
		background-color: #EFEFEF;
	}
	&__form{
		@include flex(column, nowrap, space-between, center);

	}
}

@media (min-width: 768px){
	.serv-callback{
		padding: 30px 20px;
		background-image: url(../images/scall-bg.jpg);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
@media (min-width: 1024px){
	.serv-callback{
		margin: 35px 0;
		padding: 30px;
		&__form{
			@include flex(row, nowrap, flex-start, center);
			gap: 20px;
			max-width: 465px;
		}
	}
}
@media (min-width: 1200px){
	.serv-callback{
		padding: 40px 60px 50px;
		&__form{
			@include flex(row, nowrap, flex-start, center);
			gap: 20px;
			max-width: 465px;
		}
	}
}
