.mtab{
	&--steps{
		display: none;
	}
	&--quest{
		display: block;
		padding: 0 10px;
	}
}
@media (min-width: 768px){
	.mtab{
		&--quest{
			padding: 0px 20px;
		}
	}
}
@media (min-width: 1024px){
	.mtab{
		&--quest{
			display: none;
			padding: 0px;
		}
	}
}

.mtabs{
	box-sizing: border-box;
	margin-top: 30px;
	&__btns{
		display: none;
		margin-bottom: 40px;
	}
	&__btn{
		display: inline-block;
		border: none;
		background-color: transparent;
		font-size: 24px;
		line-height: 1;
		cursor: pointer;
		border-bottom: 3px dashed transparent;
		@include transition;
		&--active{
			font-weight: bold;
			border-bottom-color: #000;
		}
		&:hover{
			border-bottom-color: #000;
		}
		& + &{
			margin-left: 30px;
		}
	}
}
@media (min-width: 768px){
	.mtabs{
		margin-top: 40px;
		// padding: 0 20px;
		&__btn{
			& + &{
				margin-left: 40px;
			}
		}
	}
}
@media (min-width: 1024px){
	.mtabs{
		display: block;
		margin-top: 60px;
		&__btns{
			display: block;
		}
		&__one{
			display: none;
			&--active{
				display: block;
			}
		}
	}
}
@media (min-width: 1200px){
	.mtabs{
		margin-top: 80px;
		&__btn{
			& + &{
				margin-left: 60px;
			}
		}
	}
}
.steps{
	@include flex(row, nowrap, space-between, stretch);
	gap: 10px;
	box-sizing: border-box;
	&__one{
		flex: 33% 1 0;
	}
}

.one-step{
	padding: 40px 25px 30px	;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	box-sizing: border-box;
	&--1{
		background-image: url('../images/step1.jpg');
	}
	&--2{
		background-image: url('../images/step2.jpg');
	}
	&--3{
		background-image: url('../images/step3.jpg');
	}
	
	&__title{
		margin: 0 0 35px;
		color: #000;
		font-weight: bold;
		font-size: 18px;
		line-height: 144%;
		text-transform: uppercase;
		&--number{
			display: block;
			margin-bottom: 30px;
			font-size: 48px;
			font-weight: 400;
			color: #838383;
		}
	}
	&__text{
		font-weight: 300;
		font-size: 14px;
		line-height: 170%
	}
	&__link{
		color: #000;
		text-decoration: none;
		@include transition;
		&:hover{
			color: $red;
		}
	}
}

.question{
	&--open{
		.question{
			&__head{
				background-color: #DBDBDB;
			}
			&__title{
				font-weight: bold;
			}
			&__btn-icon{
				transform: rotate(45deg);
			}
			&__text{
				height: auto;
				padding: 20px;
				transform: scaleY(1);

			}
		}
	}
	& + &{
		margin-top: 5px;
	}
	&__head{
		position: relative;
		padding: 25px 20px;
		padding-right: 80px;
		background-color: #F6F6F6;
		@include transition;

	}
	&__title{
		margin: 0;
		font-weight: 300;
		font-size: 16px;
		line-height: 141.4%;
		@include transition;

	}
	&__btn{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 5;
		width: 100%;
		padding: 0 20px;
		border: none;
		background-color: transparent;
		@include flex(row, nowrap, flex-end, center);
	}
	&__btn-icon{
		transform-origin: center center;
		@include transition;
	}
	&__text{
		height: 0;
		padding: 0 20px;
		font-weight: 300;
		font-size: 16px;
		line-height: 149.9%;
		@include transition;
		overflow: hidden;
		transform: scaleY(0);
		transform-origin: top;
		box-sizing: border-box;

	}
}
@media (min-width: 1024px){
	.question{
		&__head{
			padding: 20px;
		}
		& + &{
			margin-top: 15px;
		}
	}
}