.mtitle{
	margin: 0;
	line-height: 106%;
	font-weight: bold;
	font-size: 30px;
	&--index{

	}
}
@media (min-width: 1024px){
	.mtitle{
		font-size: 36px;	
		&--index{
			// max-width: 520px;n
			margin-bottom: 30px;
			font-size: 48px;

		}
	}
}
.subtitlem{
	margin: 0 0 15px;
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
	&--mcallback{
		text-align: center;
		margin: 0;
	}
	&--formcontacts{
		margin-bottom: 25px;
		text-align: start;
	}
	&--serv-call{
		margin-bottom: 20px;
		text-align: center;
		br{
			display: none;
		}
	}
}
@media (min-width: 768px){
	.subtitlem{
		&--serv-call{
			margin-bottom: 30px;
			text-align: start;
			br{
				display: inline;
			}
		}
	}
}
@media (min-width: 1024px){
	.subtitlem{
		&--mcallback{
		}
		&--serv-call{
			margin-bottom: 40px;
		}
		&--projects{
			margin-bottom: 30px;
		}
	}
}
.titlesub{
	margin: 0 0 25px;
	font-weight: bold;
	font-size: 24px;
	line-height: 106.4%;
	color: #000000;
}