$red: #EF5858;
$dark-red: #D33F3F;
$blue: #5C669B;
$grey-bg: #EEEEEE;
// $grey-bg: #686868;
$footer-bg: #151414;
$greydark-bg: #F6F6F6;
$border-grey: #E0E0E0;
$con-md: 960px;
$con-lg: 1090px;
$main-font: "Ubuntu";
@mixin transition{
	transition: 0.3s all ease-in;
}
@mixin flex($direction:row, $wrap: nowrap, $justify:space-around, $align:center){
	display: flex;
	flex-flow: $direction $wrap;
	justify-content: $justify;
	align-items: $align;
}
// ubuntu bold medium regular light