@import "normalize";
@import "fonts";
@import "vars";
@import "header";
@import "footer";
@import "icons-info";
@import "aside";
@import "index-info";
@import "typography";
@import "serv-list";
@import "tabs";
@import "contacts-block";
@import "breads";
@import "page-info";
@import "experts";
@import "map-section";
@import "reviews";
@import "price-category";
@import "serv-callback";
@import "ready-project";
body{
	font-family: $main-font;
}
img{
	width: inherit;
	line-height: 0;
}
.base{
	& + .bottom{
		margin-top: 40px;
	}
}
@media (min-width: 768px){
	.base{
	}
}
@media (min-width: 1024px){
	.base{
		width: $con-md;
		margin: 0 auto;
		@include flex(row, nowrap, flex-start, stretch);
		&__content{
			flex-grow: 1;
			padding-right: 20px;
		}
		&__servs{
			margin-top: 25px;
		}
	}
}
@media (min-width: 1200px){
	.base{
		width: $con-lg;
		&__content{
			padding-right: 50px;
		}
		&__servs{
			margin-top: 40px;
		}
	}
}

@media (min-width: 768px){
	.mcallback-mobile{
		display: none;
	}
}